.btn {
  padding: 6px 24px;
  border-radius: 4px;
  width: fit-content;
  min-height: 40px;
  transition: 0.3s;
  color: var(--gray-100);
  font-size: 1.2em;

  &.btn-sm {
    padding: 4px 16px;
    border-radius: 3px;
    min-width: 140px;
    height: 24px;
    font-size: 0.8em;
  }

  &.btn-lg {
    height: 60px;
    padding: 8px 32px;
  }

  &.full-width {
    width: 100%;
  }

  &.btn-outline {
    background-color: transparent;
  }
}

.btn-primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  
  &:hover {
    cursor: pointer;
    background-color: var(--primary-hover);
  }

  &:focus {
    background-color: var(--primary-hover);
    box-shadow: 0 0 0px 2px var(--primary-focus);
  }

  &:active {
    background-color: var(--primary-active);
  }
}

.btn-primary-outline {
  background-color: transparent;
  border: 1px solid var(--primary);

  &:hover {
    cursor: pointer;
    background-color: var(--primary-hover);
  }

  &:focus {
    background-color: var(--primary-hover);
    box-shadow: 0 0 0px 2px var(--primary-focus);
  }

  &:active {
    background-color: var(--primary-active);
  }
}

.btn-primary-dark {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-dark);
  
  &:hover {
    cursor: pointer;
    background-color: var(--primary-dark-hover);
  }

  &:focus {
    background-color: var(--primary-dark-hover);
    box-shadow: 0 0 0px 2px var(--primary-dark-focus);
  }

  &:active {
    background-color: var(--primary-dark-active);
  }
}

.btn-primary-dark-outline {
  background-color: transparent;
  border: 1px solid var(--primary-dark);

  &:hover {
    cursor: pointer;
    background-color: var(--primary-dark-hover);
  }

  &:focus {
    background-color: var(--primary-dark-hover);
    box-shadow: 0 0 0px 2px var(--primary-dark-focus);
  }

  &:active {
    background-color: var(--primary-dark-active);
  }
}

.btn-secondary {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);

  &:hover {
    cursor: pointer;
    background-color: var(--secondary-hover);
  }

  &:focus {
    background-color: var(--secondary-hover);
    box-shadow: 0 0 0px 2px var(--secondary-focus);
  }

  &:active {
    background-color: var(--secondary-active);
  }
}

.btn-secondary-outline {
  background-color: transparent;
  border: 1px solid var(--secondary);

  &:hover {
    cursor: pointer;
    background-color: var(--secondary-hover);
  }

  &:focus {
    background-color: var(--secondary-hover);
    box-shadow: 0 0 0px 2px var(--secondary-focus);
  }

  &:active {
    background-color: var(--secondary-active);
  }
}

.btn-secondary-dark {
  background-color: var(--secondary-dark);
  border: 1px solid var(--secondary-dark);

  &:hover {
    cursor: pointer;
    background-color: var(--secondary-dark-hover);
  }

  &:focus {
    background-color: var(--secondary-dark-hover);
    box-shadow: 0 0 0px 2px var(--secondary-dark-focus);
  }

  &:active {
    background-color: var(--secondary-dark-active);
  }
}

.btn-secondary-dark-outline {
  background-color: transparent;
  border: 1px solid var(--secondary-dark);

  &:hover {
    cursor: pointer;
    background-color: var(--secondary-dark-hover);
  }

  &:focus {
    background-color: var(--secondary-dark-hover);
    box-shadow: 0 0 0px 2px var(--secondary-dark-focus);
  }

  &:active {
    background-color: var(--secondary-dark-active);
  }
}

.btn-accent {
  background-color: var(--accent);
  border: 1px solid var(--accent);

  &:hover {
    cursor: pointer;
    background-color: var(--accent-hover);
  }

  &:focus {
    background-color: var(--accent-hover);
    box-shadow: 0 0 0px 2px var(--accent-focus);
  }

  &:active {
    background-color: var(--accent-active);
  }
}

.btn-accent-outline {
  background-color: transparent;
  border: 1px solid var(--accent);

  &:hover {
    cursor: pointer;
    background-color: var(--accent-hover);
  }

  &:focus {
    background-color: var(--accent-hover);
    box-shadow: 0 0 0px 2px var(--accent-focus);
  }

  &:active {
    background-color: var(--accent-active);
  }
}

.btn-success {
  background-color: var(--success);
  border: 1px solid var(--success);

  &:hover {
    cursor: pointer;
    background-color: var(--success-hover);
  }

  &:focus {
    background-color: var(--success-hover);
    box-shadow: 0 0 0px 2px var(--success-focus);
  }

  &:active {
    background-color: var(--success-active);
  }
}

.btn-success-outline {
  background-color: transparent;
  border: 1px solid var(--success);

  &:hover {
    cursor: pointer;
    background-color: var(--success-hover);
  }

  &:focus {
    background-color: var(--success-hover);
    box-shadow: 0 0 0px 2px var(--success-focus);
  }

  &:active {
    background-color: var(--success-active);
  }
}

.btn-info {
  background-color: var(--info);
  border: 1px solid var(--info);

  &:hover {
    cursor: pointer;
    background-color: var(--info-hover);
  }

  &:focus {
    background-color: var(--info-hover);
    box-shadow: 0 0 0px 2px var(--info-focus);
  }

  &:active {
    background-color: var(--info-active);
  }
}

.btn-info-outline {
  background-color: transparent;
  border: 1px solid var(--info);

  &:hover {
    cursor: pointer;
    background-color: var(--info-hover);
  }

  &:focus {
    background-color: var(--info-hover);
    box-shadow: 0 0 0px 2px var(--info-focus);
  }

  &:active {
    background-color: var(--info-active);
  }
}

.btn-warning {
  background-color: var(--warning);
  border: 1px solid var(--warning);

  &:hover {
    cursor: pointer;
    background-color: var(--warning-hover);
  }

  &:focus {
    background-color: var(--warning-hover);
    box-shadow: 0 0 0px 2px var(--warning-focus);
  }

  &:active {
    background-color: var(--warning-active);
  }
}

.btn-warning-outline {
  background-color: transparent;
  border: 1px solid var(--warning);

  &:hover {
    cursor: pointer;
    background-color: var(--warning-hover);
  }

  &:focus {
    background-color: var(--warning-hover);
    box-shadow: 0 0 0px 2px var(--warning-focus);
  }

  &:active {
    background-color: var(--warning-active);
  }
}

.btn-error {
  background-color: var(--error);
  border: 1px solid var(--error);

  &:hover {
    cursor: pointer;
    background-color: var(--error-hover);
  }

  &:focus {
    background-color: var(--error-hover);
    box-shadow: 0 0 0px 2px var(--error-focus);
  }

  &:active {
    background-color: var(--error-active);
  }
}

.btn-error-outline {
  background-color: transparent;
  border: 1px solid var(--error);

  &:hover {
    cursor: pointer;
    background-color: var(--error-hover);
  }

  &:focus {
    background-color: var(--error-hover);
    box-shadow: 0 0 0px 2px var(--error-focus);
  }

  &:active {
    background-color: var(--error-active);
  }
}