ul > li.theme-switch {
  float: right;
}

.link-text {
  display: none;
}

@media screen and (max-width: 992px) {
  ul > li.theme-switch {
    float: none;
  }

  .link-text {
    display: inline-block;
  }

}

.theme-switch {
  display: flex;
  
  svg {
    width: 42px;
    height: 42px;
  }

}

